html, body {
	height: 100%;
	width: 100%;
	margin: 0;
}
html{
	padding: 0;
	margin: 0;
}
img.profile {
	width: 40%;
	max-width: 300px;
			border: 5px solid black;

}
img {
		border: 2px solid black;

}



#home ul {
	padding: 0px;
}
#home li {
/* 	width: 30%; */
	text-decoration: none;
	list-style-type: none;
	display: inline;
	
}
h1 {
	text-align: center;

	font-size: 3.0em;
	font-family: 'Open Sans', sans-serif;
}

h2 {
	text-align: center;

	font-size: 2.5em;
	
	
	font-family: 'Open Sans', sans-serif;
}
p {
	font-family: 'Roboto Slab', serif;

}

body{
  	padding: 0;
  	margin: 0;
}
div.page {
	min-height:100%;
	height: 100%;
}
div.page_container {
	padding-top: 60px;
	padding-left: 20px;
	padding-right: 20px;
}
div.nav{
	position: fixed;
	width: 100%;
	top: 0px;
	background:rgba(200, 200, 200, 0.9);
	padding: 0;
	margin: 0;
	font-family: 'Roboto Slab', serif;
/* 	text-transform:uppercase; */
	font-size:1.2em;
/* 	font-size:120%; */
	text-align: right;
}

div.nav ul {
    vertical-align:text-top;
	margin: auto;
		padding-left: 20px;

}

div.nav li {
	line-height: 60px;
	vertical-align: top;
	display: inline;
	list-style-type: none;
	padding-right: 20px;
}

/* div.nav li a{ */
a{
	-o-transition:color .2s ease-out, background .2s ease-in, border-bottom .2s ease-in;
	-ms-transition:color .2s ease-out, background .2s ease-in, border-bottom .2s ease-in;
	-moz-transition:color .2s ease-out, background .2s ease-in, border-bottom .2s ease-in;
	-webkit-transition:color .2s ease-out, background .2s ease-in, border-bottom .2s ease-in;
	/* ...and now for the proper property */
	transition:color .3s ease-out, background .3s ease-in, border-bottom-color .3s ease;  

	margin-bottom: 20px;

	padding-bottom: 15px;

/* 	padding: 0 20px; */
	color: black;
	text-decoration: none;
}

div.nav li a{
	border-bottom: solid transparent;
}
#projects table {
    width: 100%;
    padding: 0px;
    margin: 0px;
	
}

#projects table td, th {
	text-align: center;
	width: 33%;
}
#home {
	background: url('images/blue_background.jpg');
  	background-repeat:repeat;	
  	height: 100%;
  	vertical-align:middle;
  	
  	
}

#home h1 {
	color: white;
	text-align: left;
}
#home li {
	padding: 10px;
}

#home p {
	font-size: 1.4em;
}
#projects {
	background: url('images/yellow_background.jpg');
  	background-repeat:repeat;

}
#projects h1{
	color: white;
}

#projects h2{
/* 	vertical-align: text-bottom; */
}

#projects ul{
	margin: 0px;
	padding: 0px;
}

#projects li{
	width: 30%;
	text-align: center;
}

#projects img{
	width: 40%;
}

#projects li.wayfinder img{
	width: 90%;
}

#about h1{
	padding: 0px;
	margin: 0px;
}

#about h2 {
	padding-top: 0px;
}

#about img {
	width: 10%;
	height: 10%;
}
ul.interests h2 {
/* 	text-align: left; */
/* 	color: rgb(106, 205,246); */

}

ul.projects {
	float: left;
}
.project_photos li {

    display: inline;
}

ul.projects li {
	padding-left: 0.5%;
		padding-right: 0.5%;

	display: inline; 
}

div.project {
	width: 33%;
	display: inline-block;
}
#resume {
	background: blue;
}



#contact {
	background: black;
}

#contact div {
	color:white;
}

#contact a {
	color: rgb(106, 205,246);
}

#contact p, #contact a  {
	font-size: 1.4em;

}
a:hover, li.active a, a:hover{
	color:white;
}

li.projects {
	display: inline;
}
.nav li a:hover, .nav li.active a, .nav a:hover{
	color: white;
	border-bottom-color: black;
}

ul {
		list-style-type: none;
}
.nav li a.ross {
	text-align: left;
	display: inline;
	    position: absolute;

	left: 20px;
}
.nav li a.ross:hover, .nav a.ross:hover{
	color: white;
	border-bottom-color: transparent;

}
ul.interests {
		padding: 0px;
	margin: 0px;
}
ul.interests li {
	padding: 0px;
	margin: 0px;
	vertical-align: top;
	display: inline;
	list-style-type: none;
	

}

ul.interests li a{
	padding: 2%;
	
	text-align: center;
	font-size: 0.8em;
	font-family: 'Open Sans', sans-serif;

/* 	color: black; */
	text-decoration: none;
	
}

@media screen and (max-width: 640px) {
	div.page_container { padding-top: 20px}
   div.nav { display: none }
   h2 { font-size: 1.5em}
}
